{% extends 'base.html' %} {% block content %}
<body>
  <div class="container" id="maincontent" tabindex="-1">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Rechercher un médicament" aria-label="Recipient's username"
        aria-describedby="button-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Recherche</button>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="card mw-100 cardbis mt-5 mb-5 border">
      <h5 class="card-header">classe</h5>
      <div class="card-body">
        <h5 class="card-title">molécule</h5>
        <p class="card-text mb-2 mt-2">
          <ul>
            {%for medoc in medocs %}
            <li>{{ medoc.name }} ici rajouter checkbox </li>
            {% endfor %}
          </ul>
        </p>
      </div>
      <button class="btn">toto</button>
    </div>
  </div>
</body>
{# <header style="background:#ffffff; color:#2c3e50;">
 
</header> #}



{% endblock%}