{% extends 'base.html' %} {% block content %}
<header style="background:#ffffff; color:#2c3e50;">
    <div class="container" id="maincontent" tabindex="-1">
        <div class="column p-5">
            <h4>Comprimé par prise </h4>
            <div class="p-5">
            <select class="form-control" id="exampleFormControlSelect1">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
            </div>
            <h4>Prise par jour </h4>
            <div class="p-5">
            <select class="form-control" id="exampleFormControlSelect1">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
            </div>
            <h4>Durée du traitement </h4>
            <div class="p-5">
            <select class="form-control" id="exampleFormControlSelect1">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
            </div>

            <button type="button" class="btn btn-primary">Ordonnance ></button>
        </div>
    </div>
</header>
<!-- {% endblock%} -->